body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* BACKGROUND SHAPES */

.background .square{
position:absolute;
width:300px;
height:300px;
background:linear-gradient(135deg,#2563eb,#06b6d4);
top:50px;
left:100px;
border-radius:20px;
}

.background .circle{
position:absolute;
width:250px;
height:250px;
background:linear-gradient(135deg,#38bdf8,#60a5fa);
bottom:50px;
right:100px;
border-radius:50%;
}

/* MAIN CARD */

.container{
background:rgba(255,255,255,0.1);
padding:40px;
border-radius:15px;
backdrop-filter:blur(10px);
text-align:center;
width:350px;
}

.search-box{
margin-bottom:20px;
}

.search-box input{
padding:10px;
width:70%;
border:none;
border-radius:5px;
}

.search-box button{
padding:10px 15px;
background:#38bdf8;
border:none;
border-radius:5px;
cursor:pointer;
}

.weather-card{
margin-top:20px;
}